<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>新規投稿</title>
</head>
<body>
<div class="header-contents">
    <h2>新規投稿</h2>
</div>
<div class="main-contents">
    <form method="post" action="/addMessage" th:object="${formModel}">
        <div th:if="${errorMessage}" style="color: red; font-weight: bold; margin-bottom: 10px;">
            <p th:text="${errorMessage}"></p>
        </div>
        <div th:if="${#fields.hasErrors('title')}"
             th:errors="*{title}" style="color: red; font-weight: bold; margin-top: 5px;">
        </div>
        <div th:if="${#fields.hasErrors('content')}"
             th:errors="*{content}" style="color: red; font-weight: bold; margin-top: 5px;">
        </div>
        <div th:if="${#fields.hasErrors('category')}"
             th:errors="*{category}" style="color: red; font-weight: bold; margin-top: 5px;">
        </div>
        <div class="form-area">
            <label>件名</label><br>
            <input type="text" class="title" th:field="*{title}"><br>
            <label>本文</label><br>
            <textarea class="task-box" th:field="*{content}" rows="8" cols="50" maxlength="1000"></textarea><br/>
            <label>カテゴリ</label><br>
            <input type="text" class="category" th:field="*{category}"><br>
            <input type="submit" value="追加" />
        </div>
    </form>
</div>
<div class="footer-contents">
    <a href="/top">戻る</a>
</div>
</body>
</html>