<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>ユーザー管理画面</title>
</head>
<body>

<div class="header-contents">
    <h2>ユーザー管理画面</h2>

    <div th:if="${errorMessage}" class="alert alert-danger" style="color: red; font-weight: bold;">
        <p th:text="#{${errorMessage}}"></p>
    </div>

    <div class="header">
        <th:block th:if="${loginUser != null}">
            <a th:href="@{/user/register}">ユーザー登録画面</a>
            <a href="/top">戻る</a>
        </th:block>
    </div>
</div>
<div class="main-contents">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>アカウント</th>
            <th>名前</th>
            <th>支店ID</th>
            <th>部署ID</th>
            <th>状態</th>
            <th>支店名</th>
            <th>部署名</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td th:text="${user.id}" style="text-align: center;"></td>
            <td th:text="${user.account}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.branchId}" style="text-align: center;"></td>
            <td th:text="${user.departmentId}" style="text-align: center;"></td>
            <td th:text="${user.isStopped == 1 ? '停止中' : '稼働中'}"></td>
            <td th:text="${user.branchName}"></td>
            <td th:text="${user.departmentName}"></td>

            <td>
                <a th:href="@{/user/edit/{id}(id=${user.id})}" class="btn-edit" style="margin-right: 10px;">編集</a>
                <form th:if="${user.isStopped == 1}" th:action="@{/user/change-status/{id}/0(id=${user.id})}" method="POST"
                      onsubmit="return confirm('このユーザーを復活してもよろしいですか？');" style="display: inline;">
                    <button type="submit" class="btn-revive">復活</button>
                </form>

                <form th:if="${user.isStopped == 0}" th:action="@{/user/change-status/{id}/1(id=${user.id})}" method="POST"
                      onsubmit="return confirm('このユーザーを停止してもよろしいですか？');" style="display: inline;">
                    <button type="submit" class="btn-suspend">停止</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>